// Sponge brand colors
$sponge_yellow: #f7cf0d;
$sponge_dark_yellow: #c5a00d;
$sponge_grey: #333333;
$sponge_dark_grey: shade($sponge_grey, 15%);

// Neon colors
$neon-red: #ff544b;
$neon-yellow: #f0d95c;
$neon-green: #3fa763;
$neon-blue: #5fa9bd;
